@tailwind base;
@tailwind components;
@tailwind utilities;

.dot1,
.dot2,
.dot3 {
  display: inline-block;
  animation: blink 1.4s infinite both;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
